<nav class="navbar">
  <div class="container">
    <div class="nav-content">

      <h1 class="navbar-logo">Efizity News</h1>

      <ul class="nav-items">
        <li class="nav-item">
          <a href="/">Listado de Noticias</a>
        </li>
        <li class="nav-item">
          <a href="/news/new">Agregar Noticia</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
