// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$font-title: 'Bebas Neue', sans-serif;
$font-body: 'Arimo', sans-serif;
$font-logo: 'Space Grotesk', sans-serif;
$nav-color: #26577C;
$background: #F1EFEF;
$mx-1: 0 0.75rem;
$py-1: 0.75rem 0;

.container {
  max-width: 95rem;
  margin: 0 auto 0 auto;
}

.navbar {
  background-color: $nav-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-logo {
  color: $background;
  font-family: $font-logo;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.125rem 0 1.125rem 0;
  padding: 0 0.875rem 0 0.875rem;
}

.principal {
  background-color: $background;
}

.title {
  margin: $mx-1;
  padding: 1.25rem 0 1.25rem 0;
}

h1.title {
  font-size: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin: $mx-1;
}

.label {
  padding: $py-1;
  font-style: italic;
  font-weight: bold;
}

.headline {
  font-family: $font-title;
  font-weight: 400;
}

.body-news {
  font-family: $font-body;
  font-weight: 400;
}
